*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(173, 223, 255);
}

h2{
    font-size: 15px;
    padding: 10px;
}

.container{
    width: 800px;
    margin: auto;
}

.tasks-menu{
    display: flex;
    gap: 20px;
}

.logo{
    width: 250px;
    margin: auto;
    padding: 10px;
}

.logo img{
    width: 100%;
}

.newTask{
    text-align: center;
}

.newTaskInput{
    display: flex;
    justify-content: center;
}

.newTask input,
.newTask button{
    padding: 8px 16px;
    border-radius: 0.5rem;
    border: 1px solid grey;
    font-size: 0.8;
    margin: 10px 5px;
}

.newTask input{
    flex-grow: 0.1;    
}

.error{
    color: red;
    margin-bottom: 10px;
}

.nothing-to-do{
    text-align: center;
}


.tasks-container{
    flex-grow: 2;
    margin: 0 auto;
    background-color: #F5F7F7;
    border-radius: 0.6rem;
    padding: 40px 20px 20px;
}


.item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 8px 10px;
}

.item:hover{
    background-color: lightgrey;
}
.delete-task{
    margin: 0 10px;
}
.item .delete-task:hover,
.item .done-task:hover,
.item .undo:hover,
.item .trash-restore:hover,
.tasks-to-do .item-text:hover{
    cursor: pointer;
}

.permanently-delete{
    color: red;
}

.permanently-delete:hover{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.tasks-container.tasks-completed,
.tasks-container.tasks-trashed{
    flex-grow: 1;
}

