<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="root">
        <div class="container">
            <div class="logo">
                <img :src="logoImg" alt="">
            </div>
            <div class="newTask">
                <div class="newTaskInput">
                    <input type="text" placeholder="Nuovo Todo" v-model="newTask" @keyup.enter="addNewTask">
                    <button @click="addNewTask">Aggiungi</button>
                </div>
                <div v-if="error == true" class="error">Devi inserire una task almeno 5 caratteri</div>

            </div>


            <section class="tasks-menu">
                <div class="tasks-to-do tasks-container">
                    <h2 class="tasks-to-do-title">To Do List</h2>
                    <div class="tasks" v-if="tasks.length > 0">
                        <div v-for="(task, index) in tasks" class="item">
                            <div class="item-text" @click="modifyTask">{{task}}</div>

                            <div class="task-command">
                                <span @click="addTaskCompleted(task)" class="done-task">
                                    <i class="fas fa-check-circle"></i>
                                </span>

                                <span @click="deleteTask(index)" class="delete-task">
                                    <i class="fas fa-times"></i>
                                </span>

                            </div>

                        </div>
                    </div>
                    <div class="nothing-to-do" v-else>Nothing to do Today! <i class="far fa-smile"></i></div>
                </div>

                <div class="tasks-container tasks-completed" v-if="tasksComplete.length > 0 ">
                    <h2 class="tasks-completed-title">Completed</h2>
                    <div v-for="task in tasksComplete" class="item completed">
                        <div class="item-text">{{task}}</div>

                        <div class="task-command">
                            <span @click="" class="undo">
                                <i class="fas fa-undo"></i>
                            </span>
                        </div>
                    </div>

                </div>
            </section>



        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>